

/* green box styling */
.userprofile-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 17px; 
  width: 100%;
  max-width: 700px; 
  padding: 20px;
  background-color: #C8102E;
  border: 2px solid #C8102E; 
  border-radius: 15px; 
}

.custom-dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-button {
  width: 100%;
  padding: 8px;
  text-align: center;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background-color: #444034; 
  color: #FFFFFF; 
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #444034;
  min-width: 100%;
  border: 1px solid #FFFFFF;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 2px;
  color: #FFFFFF;
}

.checkbox-label {
  display: block;
  padding: 5px;
  cursor: pointer;
  color: #FFFFFF; 
}

/* spacing to input fields */
.userprofile-input, .userprofile-textarea, .userprofile-select {
  background-color: #444034;
  color:white;
  width: 100%;
  padding: 8px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

/* submit button */
.submit-button {
  padding: 10px 15px;
  background-color: #444034; 
  color: #FFFFFF; 
  border: 1px solid #C8102E; 
  border-radius: 4px;
  cursor: pointer;
  text-align: center; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

/* button hover effect */
.submit-button:hover {
  /* background-color: #b9c57f;  */
  color: #f0e7c6; 
  border-color: #C8102E; 
}

/* profile information display section */
.profile-info-section {
  background-color: #C8102E;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 20px;
  border: 5px solid #FFFFFF; 
  border-radius: 10px; 
}

.profile-info-section p {
  font-size: 16px;
  color: #FFFFFF;
}

.profile-info-section p strong {
  color: #FFFFFF;
}

/* availability list container */
.availability-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* availability list item styling */
.availability-item {
  display: flex;
  justify-content: space-between; /* pushes the X button to the right */
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #f0e7c6;
  color: #FFFFFF;
}

/* X for availability dates */
.remove-button {
  font-size: 12px;
  padding: 2px 6px;
  border: none;
  background: #b9c57f;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #576127;
}

.edit-profile-button{
  margin-top: 30px;
  padding: 10px 15px;
  font-weight: bold; 
  background-color: #C8102E; 
  color: #FFFFFF; 
  border: 1px solid #C8102E; 
  border-radius: 4px;
  cursor: pointer;
  text-align: center; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

/* button hover effect */
.edit-profile-button:hover {
  /* background-color: #b9c57f;  */
  color: #f0e7c6; 
  border-color: #C8102E; 
}

.add-button{
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #444034; 
  color: #FFFFFF; 
  border: 1px solid #C8102E; 
  border-radius: 4px;
  cursor: pointer;
  text-align: center; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.add-button:hover {
  /* background-color: #b9c57f;  */
  color: #f0e7c6; 
  border-color: #C8102E; 
}


