@import '../../styles/colors.css';

/* For the Top Red Banner */
.banner_red {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: var(--primary-red);
  color: white;
  text-align: left;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
}

/* For the white banner below the red one */
.banner_white {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: white;
  color: var(--slate);
  text-align: left;
  font-weight: bold;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 20px;     
  padding: 10px 20px;
  height: 30px;
}

/* White banner styling */
.banner_white > div,
.banner_white .banner-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* Styling for Banner Links */
.banner-link {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
}

/* styling and background image on front page */
.landing-page {
  background: 
    linear-gradient(to right, rgba(200, 16, 46, 0.7) 0%, 
    rgba(200, 16, 46, 0.35) 20%,
    rgba(200, 16, 46, 0)) 35%,
    url("../assets/uh_hp_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Text on front page */
.landing-content {
  text-align: right;
  padding: 50px;
  margin-top: 120px;
  -webkit-text-stroke: 1.5px var(--custom-gray);
}
