@import '../../styles/colors.css';

html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Landing page styles */
/* Landing page styles */
.landing-page {
  position: fixed;        /* stays fixed in place */
  top: 0;
  left: 0;

  width: 100vw;          
  height: 100vh;

  background:
    linear-gradient(to right, rgba(200, 16, 46, 0.7) 0%, 
    rgba(200, 16, 46, 0.35) 20%,
    rgba(200, 16, 46, 0) 35%),
    url('../../assets/uh_hp_bg.jpg');

  background-size: 100vw 100vh;   /* always covers full screen */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;   /* still allows parallax effect */

  margin: 0;
  padding: 0;
  overflow: hidden; /* ensures no visible empty space */
}

.landing-content {
  text-align: right;
  padding: 50px;
  margin-top: 120px;
  -webkit-text-stroke: 1.5px var(--custom-gray);
  position: relative;
  z-index: 10;
}

.landing-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #FFFFFF;
}

.landing-content p {
  color: #FFFFFF;
  line-height: 1.6;
}