.root {
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 100px;
  text-align: center;
  background-color: #ffff;
  color: #444034;
  font-family: "Trebuchet MS", "Verdana", sans-serif;
}

.report_nav_buttons {
  background-color: #C8102E;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 30vw; 
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.report_nav_buttons button {
  background-color: transparent;
  color: #444034;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 16px; 
  transition: font-size 0.3s ease;
}

.report_nav_buttons button:hover {
  background-color: #b9c57f;
  border-color: #C8102E;
}

@media (max-width: 768px) {
  .report_nav_buttons {
    width: 50vw; 
  }

  .report_nav_buttons button {
    font-size: 14px; 
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .report_nav_buttons {
    width: 70vw; 
  }

  .report_nav_buttons button {
    font-size: 12px;
    padding: 6px 12px; 
  }
}

.dropdown-container {
  margin: 20px 0 40px 0;
  font-weight: bold;
}

.report-buttons {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column; /* now stacks vertically */
  align-items: center; /* center the content */
  gap: 10px;
}

.report-buttons button {
  background-color: #C8102E;
  color: #444034;
  padding: 12px 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.report-buttons button:hover {
  background-color: #b9c57f;
  border-color: #C8102E;
}

.button-row {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.csv-note {
  font-size: 14px;
  color: #444034;
}

.report_area {
  position: relative;
  width: 50vw;
  background-color: #dccfa0;
  padding: 30px;
  margin: 0 20px;
  text-align: left;
  align-items: center;
}

.report_area table {
  margin-top: 20px;
}

.report_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.report_head, .report_entry {
  border: 1px solid #C8102E; 
  padding: 12px;
  text-align: left;
  background-color: #fff8e1;
}

.report_head {
  background-color: #C8102E;
  color: #fff;
}
