.app-container {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  color: #444034;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-management-container {
  padding: 30px;
  background-color: #ebf8ece0;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1), 0 6px 30px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 600px;
  transition: all 0.3s ease-in-out;
  font-style: italic;
}





.profile-container {
  /* padding: 20px; */
  background-color: #fff;
  margin: 20px 0;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 4px 24px rgba(0, 0, 0, 0.2); */
  width: 100%;
  /* max-width: 500px; */
  text-align: center; 
  transition: all 0.3s ease-in-out;
  align-items: center;
}

/* .profile-container:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1), 0 8px 48px rgba(0, 0, 0, 0.2);
} */

.profile-container h2 {
  margin-top: 0;
  font-size: 40px;
  font-style: oblique;
  
  color: #C8102E;
}


.profile-info {
  margin-top: 5px;
}

.profile-info p {
  font-size: 20px;
  
  margin: 5px 0;
  line-height: 1.6;
  color: rgb(200, 16, 46);
}

.profile-info .profile-id {
  font-weight: bold;

}

.profile-info .profile-email {
  color: #444034
}


.profile-avatar:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3), 0 8px 32px rgba(0, 0, 0, 0.15);
}


.event-management-container {
  padding: 20px;
  background-color: #C8102E; ;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 4px 24px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  transition: all 0.3s ease-in-out;
  font-style: italic;

}

.event-management-container:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1), 0 8px 48px rgba(0, 0, 0, 0.2);
}

.event-management-container h3 {
  font-size: 24px;

  font-style:italic;
  color: #2c3e50;
  margin-bottom: 15px;
}

.event-management-container input,
.event-management-container textarea {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  background-color: #444034;;
  color:white;
  border: 1px solid #888B8D;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;

}
input[type="date"] {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

input[type="date"]:focus {
  outline: none;
  border-color: #4A90E2;
}
.event-management-container input:focus,
.event-management-container textarea:focus {
  outline: none;
  border-color: #a6b344;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  transform: translateY(-2px);
}

.event-management-container button {
  background-color: #444034;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.event-management-container button:hover {
  background-color: #227be086;
  transform: translateY(-2px);
}

.event-item {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 4px 24px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.event-item:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1), 0 8px 48px rgba(0, 0, 0, 0.2);
}

.event-item h4 {
  margin-top: 0;
  font-size: 20px;
  color: #2c3e50;
}

.event-item p {
  font-size: 16px;
  color: #555;
}

.event-item button {
  background-color: rgb(200, 16, 46);
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.event-item button:hover {
  background-color: rgb(200, 16, 46);
  transform: translateY(-2px);
}



@media (max-width: 768px) {
  .profile-container,
  .event-management-container {
    width: 90%;
  }

  .event-item {
    padding: 15px;
  }

  .event-management-container input,
  .event-management-container textarea {
    padding: 10px;
    
  }


  .profile-avatar {
    width: 80px;
    height: 80px;
  }
}

.footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}


.event-item button.delete-btn {
  background-color: rgb(200, 16, 46); 
  margin-top: 10px;
}

.event-item button.delete-btn:hover {
  background-color: rgb(200, 16, 46); 
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container a {
  text-decoration: none; 
}

.button-container .btn {
  background-color: #888B8D; 
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.919);
}


.button-container .btn:hover {
  background-color: #9ac3ec; 
  transform: translateY(-2px);
}

.button-container .btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(100, 6, 117, 0.736); 
}


@media (max-width: 768px) {
  .button-container .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}


.calendar-container {
  margin-top: 20px; 
  margin-bottom: 20px; 
  text-align:left;
  font-size: 20px;
}
.react-calendar {
  border: 2px solid rgb(200, 16, 46); 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.849); 
  padding: 10px;
}


.event-management-container .react-calendar__navigation__prev-button,
.event-management-container .react-calendar__navigation__next-button,
.event-management-container .react-calendar__navigation__prev2-button,
.event-management-container .react-calendar__navigation__next2-button {
  font-size: 20px;
  color: white;
  background-color: #444034;
}

.event-management-container .react-calendar__navigation__label {
  font-size: 13px;
  font-weight: bold;
  color: white;
  background: #444034;
}

.event-management-container .custom-select__control {

  background-color:#444034;
  border-radius: 5px;
  padding: 5px;
  box-shadow: none;
}

.custom-select__control--is-focused {
  border-color: #388e3c;
  box-shadow: 0 0 5px rgba(56, 142, 60, 0.5);
}

.custom-select__menu {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-select__option {
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.custom-select__option--is-selected {
  background-color: #4caf50 !important;
  color: white;
}

.custom-select__option--is-focused {
  background-color: #444034;
}

.custom-select__multi-value {
  background-color: #4caf50;
  color: white;
  border-radius: 3px;
  padding: 2px 5px;
}

.custom-select__multi-value__label {
  color: white;
}

.custom-select__multi-value__remove {
  color: white;
  cursor: pointer;
}

.custom-select__multi-value__remove:hover {
  background-color: #388e3c;
  color: white;
}
.urgency-level-select select {
  width: 100%;
  padding: 8px;
  border: 2px solid #dda5e776;
  border-radius: 5px;
  background-color: #FFF3E0;
  font-size: 16px;
}

.urgency-level-select select:focus {
  border-color: #6406759a;
  outline: none;
}

.urgency-level-select option {
  background-color: white;
  color: black;
}


