
.modal-overlay {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.2); 
    background: clear; 
    display: flex;
    opacity: 1 ;
    visibility: visible;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    
  }
  
.login-form-container {
    background-color: #f0e7c6; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
  }
  

.login-close-btn {
    position: absolute;
    top: 1px;  
    right: 1px; 
    width: 30px;  
    height: 30px; 
    font-weight:bold;
    font-size: 20px;
    background-color: transparent;  
    border: none;
    border-radius: 5px;  
    color: #333;  
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0; 
    z-index: 1; 
  }
  
.login-close-btn:hover {
    background-color: transparent; 
  }
  
.login-close-btn:focus {
    outline: none; 
  }
  

.login-form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
.login-form-toggle button {
   font-weight:bold;
    width: 50%;
    padding: 10px;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
  }
  
.login-form-toggle button:focus {
    outline: none; 
  }

  
  
.login-form-toggle .active {
    background-color: #C8102E;
    color: #444034;
  }
  
.login-form {
    display: flex;
    flex-direction: column;
  }
  
.login-form h2 {
    margin-bottom: 20px;
  }
  
.login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
.login-form button {
    padding: 10px;
    background-color:#C8102E;
    font-weight:bold;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.login-form button:active {
    transform: scale(0.98); 
  }
  
.login-form button:focus {
    outline: none;
  }
  
.login-form button:hover {
  /* background-color: #b9c57f;  */
  border-color: #FFFFFF;
  }
  
.login-form a {
    color: #1fb9b4;
    text-decoration: none;
    font-size: 15px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
.login-form p {
    text-align: center;
    padding-top: 10px;
  }
  
  .error {
    color: rgb(255, 82, 82);
    font-size: 14px; 
    margin-top: 10px; 
  }