@import '../../styles/colors.css';

.modal-overlay {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.2); 
    background: clear; 
    display: flex;
    opacity: 1 ;
    visibility: visible;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    
  }
  
.login-form-container {
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 380px;
    position: relative;
  }
  

.login-close-btn {
    position: absolute;
    top: 1px;  
    right: 1px; 
    width: 30px;  
    height: 30px; 
    font-weight:bold;
    font-size: 20px;
    background-color: transparent;  
    border: none;
    border-radius: 5px;  
    color: black; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0; 
    z-index: 1; 
  }
  
.login-close-btn:hover {
    background-color: transparent; 
  }
  
.login-close-btn:focus {
    outline: none; 
  }
  

.login-form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
.login-form-toggle button {
   font-weight:bold;
    width: 50%;
    padding: 10px;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
    color: black;
  }
  
.login-form-toggle button:focus {
    outline: none; 
  }

  
  
.login-form-toggle .active {
    background-color: #C8102E;
    color: black;
  }
  
.login-form {
    display: flex;
    flex-direction: column;
  }
  
.login-form h2 {
    margin-bottom: 20px;
    color: black;
  }
  
.login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;
  }
  
.login-form button {
    padding: 10px;
    background-color:#C8102E;
    font-weight:bold;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.login-form button:active {
    transform: scale(0.98); 
  }
  
.login-form button:focus {
    outline: none;
  }
  
.login-form button:hover {
  border-color: #FFFFFF;
  }
  
.login-form a {
    color: #1fb9b4;
    text-decoration: none;
    font-size: 15px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
.login-form p {
    text-align: center;
    padding-top: 10px;
    color: black; 
  }
  
  .error {
    color: rgb(255, 82, 82);
    font-size: 14px; 
    margin-top: 10px; 
  }

/*From here - For password checking*/
.password-checklist {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.check-item {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}

.check-item.fail {
  color: red;
}

.check-item.pass {
  color: green;
}

.check-icon {
  font-weight: bold;
}

.password-explanation {
  color: black;
  margin-top: 8px;
  font-size: 13px;
  line-height: 1.3;
  text-align: left;
}

.disabled-btn {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.disabled-btn:hover {
  background-color: var(--chocolate);
}