@import "../styles/colors.scss";

// For the Top Banner
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-red;
  color: white;
  text-align: left;
  padding: 20px 10px;
  font-weight: bold;
  z-index: 1000;
}